/* Estilos de los botones */
.botones {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 2rem 0;
}

.botones button,
.exploracion button {
  background-color: #046fb6;
  color: white;
  font-family:  "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}



.botones button:hover,
.exploracion button:hover {
  background-color: #70a8c4;
  
}














