/* Estilos de los botones */
.botones {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 2rem 0;
}

.botones button,
.exploracion button {
  background-color: #046fb6;
  color: white;
  font-family:  "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}



.botones button:hover,
.exploracion button:hover {

  background-color: #70a8c4;

  background-color: #005f99;
}



/* Contenedor del switch */
.btn-toggle {
  position: fixed; /* Fijar en la esquina */
  top: 10px; /* Distancia desde el top */
  right: 10px; /* Distancia desde la derecha */
  width: 50px; /* Reducir el tamaño del switch */
  height: 30px; /* Reducir la altura */
  background-color: #ddd;
  border-radius: 15px; /* Radio del switch */
  padding: 3px; /* Reducir el padding */
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;

  
}














