

nav {
  margin-left: 1rem;
}

#nav-menu {
  list-style: none;
  display: flex;
  gap: 1rem;
  transition: all 0.3s;
}

/* Enlaces del menú */
#nav-menu li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
  font-weight: 500;
  z-index: 9999; /* Asegura que el menú esté por encima de otros elementos */
}

#nav-menu li a:hover {
  background-color: #3d3f41;
  border-radius: 4px;
}




html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1; 
  display: flex;
  flex-direction: column;
 
}

/* Footer fijo en la parte inferior */
footer {
  background-color: #727272; /* Ajusta el color según tu diseño */
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: auto; /* Empuja el footer hacia abajo */
}

.custom-navbar {
  position: fixed; /* Fija la navbar en la parte superior */
  top: 0;
  left: 0;
  width: 100%; /* Asegura que ocupe todo el ancho de la ventana */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  background-color: #0f4493; /* Color de fondo azul */
  color: white; /* Color del texto */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
}

.custom-navbar .nav-link {
  color: white; /* Color de los enlaces */
  transition: color 0.3s ease;
}

.custom-navbar .nav-link:hover {
  color: #ffc107; /* Cambia el color al pasar el mouse */
}

.custom-navbar .navbar-toggler {
  border-color: white; /* Cambia el color del borde del botón de colapso */
}

.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}